absl-py==2.4.0
anaconda==0.0.1.1
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155968/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1778770239222/work
h5py==3.16.0
joblib==1.5.3
keras==3.14.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067048/work
markdown-it-py==4.2.0
matplotlib==3.11.0
mdurl==0.1.2
ml_dtypes==0.5.4
munkres==1.1.4
namex==0.1.0
narwhals==2.22.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1782112541/work/dist/numpy-2.5.0-cp314-cp314-linux_x86_64.whl#sha256=5d4ff989c974965f33dbb0644aebf211989e15d401608ddb910b9a454ad2132d
optree==0.19.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas==3.0.3
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1775060059/work
plotly==6.8.0
Pygments==2.20.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.11.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
rich==15.0.0
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
setuptools==82.0.1
shiboken6==6.11.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
threadpoolctl==3.6.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1781006705452/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908959830/work
